.post-list {
  padding: 0;

  .post-item {
    margin-bottom: 1rem;
    margin-left: 0;
    list-style-type: none;

    .meta {
      display: block;
      margin-right: 16px;
      min-width: 100px;
      color: $color-meta;
      font-size: 14px;
    }
  }
}
@media (min-width: 480px) {
  .post-list {
    .post-item {
      display: flex;
      margin-bottom: 5px;

      .meta {
        text-align: left;
      }
    }
  }
}
.project-list {
  padding: 0;
  list-style: none;

  .project-item {
    margin-bottom: 5px;
    p {
      display: inline;
    }
  }
}
.profilepic {
  float: right;
  border: #ccc 1px solid;
  margin-left: 20px;
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

.link {
  color: $color-link
}

a {
  color: $color-link;
  text-decoration: none;
  background-image: none;
}
a:hover {
  color: lighten($color-meta, 20%);
}