[submodule "cpsiff.github.io"]
	path = cpsiff.github.io
	url = git@github.com:cpsiff/cpsiff.github.io.git
[submodule "personal-site/cpsiff.github.io"]
	path = personal-site/cpsiff.github.io
	url = git@github.com:cpsiff/cpsiff.github.io.git
